@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff url(../img/bg.jpg) repeat;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {color: #000; text-decoration: none;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.center {
	width: 960px;
	margin: 0 auto;
}

/* Панель в шапке */
.panel-top {
	height: 33px;
	border-top: 3px solid #CC3333;
	background: #2A2B2C;
}
/* Социальные сети */
.social {
	float: left;
	padding: 4px 0;
}
.social a {
	display: inline-block;
	height: 23px;
	width: 23px;
	vertical-align: middle;
	background: url(../img/sprite-social.png) no-repeat center;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;
}
.social a.s-fb {background-position: 0 0;}
.social a.s-dribble {background-position: -23px 0;}
.social a.s-tw {background-position: -46px 0;}
.social a.s-mail {background-position: -69px 0;}
.social a.s-vimeo {background-position: -92px 0;}

/* Вход на сайт*/
.login {
	float: right;
	padding-top: 7px;
}
.login a,
.login span {color: #fff;}
.login a:hover {text-decoration: underline;}

/* Корзинка */
.basket {
	width: 90px;
	float: right;
	margin-left: 25px;
	background: #C33 url(../img/cart.png) no-repeat 8px 7px;
	-webkit-border-radius: 0 0 10px 10px;
	   -moz-border-radius: 0 0 10px 10px;
		 -o-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
	overflow: hidden;
}
.basket a {
	display: block;
	height: 45px;
	padding: 15px 0 0 40px;
	color: #fff;
}
/* Шапка сайта*/
#header {padding: 18px 0;}

/* Логотип */
#logo img,
#logo span {
	display: inline-block;
	vertical-align: middle;
}
#logo span {font-size: 30px;}

/* Навигация */
.nav {margin-top: 25px;}
.nav li {
	position: relative;
	float: left;
}
.nav li + li {margin-left: 30px;}
.nav li:before {
	content: "";
	position: absolute;
	top: -17px;
	left: 50%;
	margin-left: -18px;
	display: none;
	width: 35px;
 	border-top: 4px solid #efc539;
 }
.nav li:hover:before,
.nav li.active:before {display: block;}
.nav li a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

#home {
	margin-bottom: 40px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
}

.home-bg {
	padding: 20px 0;
	background: #cc3333;
	
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	-ms-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	-o-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
	font: normal 28px 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	-wekbit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li {
	float: left;
}
.breadcrumbs li a,
.breadcrumbs li span {
	font-size: 12px;
	color: #fff;
	-wekbit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li .sp {
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
}

.breadcrumbs li a:hover {
	text-decoration: underline;
}

.link-home {
	display: inline-block;
	float: right;
	width: 36px;
	height: 33px;
	margin-top: 12px;
	background: url(../img/home.png) no-repeat;
}

.sorting {
	margin-bottom: 40px;
	padding: 18px 20px;
	border: 1px solid #eaeaea;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.s-category {
	float: left;
	padding-top: 2px;
}
.s-category li {
	padding: 0 15px 0 9px;
	float: left;
	background: url(../img/s-sp.png) no-repeat right 4px;
}
.s-category li:first-child {padding-left: 0;}
.s-category li:last-child {
	background-image: none;
	padding-right: 0;
}
.s-category a {
	line-height: 16px;
	color: #1E1E20;
	text-transform: uppercase;
}
.s-category a:hover,
.s-category li.active a {
	color: #000;
}

.sel-sorting {
	float: right;
	margin-right: 80px;
}

.s-lsit {float: right;}
.s-lsit a {
	display: inline-block;
	vertical-align: middle;
}
.s-lsit a + a {margin-left: 10px;}
.ic-squares {
	width: 28px;
	height: 20px;
	background: url(../img/squares.png) no-repeat;
}
.ic-list {
	width: 30px;
	height: 20px;
	background: url(../img/list.png) no-repeat;
}





.sidebar {
	width: 240px;
	float: right;
}

.content {
	margin-right: 285px;
}


.products {
	width: 215px;
	height: 370px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	background: #FFF;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -0-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
		-ms-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
		 -o-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
			box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.products:nth-child(3n) {margin-right: 0;}

.p-img {
	position: relative;
	height: 210px;
	overflow: hidden;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -0-border-radius: 5px;
	        border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
		-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
		 -o-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
			box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}

.sale {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	background: rgba(204,51,51,.6);
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -0-border-radius: 50%;
	        border-radius: 50%;
}

.p-footer {padding: 0 8px 15px;}
.products h6 {
	margin: 8px 0;
	font-size: 14px;
	font-weight: bold;
}
.products h6 span {
	font-weight: normal;
	font-style: italic;
}
.products h6 a:hover { text-decoration: underline;}
.p-footer p {margin-bottom: 15px;}
.p-footer p strong {font-weight: bold;}

.price, .price-new {
	display: inline-block;
	font-weight: bold;
	margin-top: 5px;
}
.price {
	text-decoration: line-through;
}
.price-new {
	padding: 1px 3px;
	line-height: 16px;
	color: #fff;
	background: #C33;
}

.add-cart {
	display: block;
	padding: 5px 8px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: #1E1E20;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -0-border-radius: 5px;
	        border-radius: 5px;
}

.add-cart:hover {background: #888;}
.rate {
	width: 76px;
	height: 15px;
	margin: 10px 0 15px;
	background: url(../img/star.png) repeat-x;
}
.rate > div {
	height: 100%;
	background: url(../img/star1.png) repeat-x;
}
.pagination {
	margin: 20px 0;
	padding: 10px 15px;
	border: 1px solid #eaeaea;
	background: #FFF;
}

.pagination ul li {
	float: left;
	margin-right: 10px;
}
.pagination ul a {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.pagination ul li.active a {
	color: #cc3333;
}